.item-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    

    .title {
        font-size: 25px;
    }

    .description {
        color: blue;
        font-size: 25px;
    }
}